.modal {
  display: none;
}
.modal.active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: $color-white--modal;
}

.modal-wrapper {
  padding: 30px 30px;
  width: 50%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;

  background: linear-gradient(
    320deg,
    rgb(58 17 119) -98.01%,
    rgb(35, 33, 30) 63%,
    #e91e63 258.28%
  );

  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $color-purple;
    transition: font-size 0.3s ease-in;
  }

  .modal-close:hover {
    font-size: 35px;
  }
}

.tabs {
  &__modal-head {
    display: flex;
    align-items: center;
    column-gap: 70px;
  }

  &__modal-btn {
    padding: 11px 17px;
    width: 120px;
    border: 2px solid $color-purple;
    outline: none;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    @include text(22px, 24px, 500, $color-purple);

    background-color: transparent;
  }

  &__modal-btn.active {
    background-color: $color-purple--light;
    color: $color-white;
    border: 2px solid $color-white;
  }
}
