.wrapper {
  height: 100vh;
  width: calc(100vw - 110px);
  margin-left: 140px;

  .trending {
    margin: 20px 15px;

    .title {
      &--trending {
        margin: 0px 0 16px 0px;
      }
    }

    .movie__list {
      &--trendingPage {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 40px;

        .movie__item {
          width: 23%;
          opacity: 0.7;
        }
        .movie__item.active {
          width: 23%;
          opacity: 1;
          box-shadow: 3px 3px 20px 3px $color-purple;
        }
      }
    }

    .movie-card {
      &__list {
        margin-top: 60px;
        @include flex(center, center, column);
      }

      &__item {
        @include flex(inherit, center, row);
        column-gap: 24px;
      }

      &__img {
        width: 534px;
        height: 431px;
        flex-shrink: 0;
      }

      &__container {
        max-width: 700px;
        width: 100%;
      }

      &__title-container {
        @include flex(space-between, center, row);
        margin-bottom: 12px;
      }

      &__title {
        @include text(32px, 40px, 600, $color-white);
      }

      &__svg-container {
        @include flex(inherit, center, row);
        column-gap: 8px;
      }

      &__rating,
      &__year,
      &__genre,
      &__time {
        @include text(18px, 24px, 500, inherit);
      }

      &__info {
        @include flex(inherit, center, row);
        column-gap: 40px;
        margin-bottom: 21px;
      }

      &__description {
        @include text(16px, 24px, 400, inherit);
        margin-bottom: 26px;
      }

      &__buttons {
        @include flex(inherit, center, row);
        column-gap: 16px;
      }
    }
  }
}
